@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.navigation-bar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: aliceblue;
}
.navigation-bar img {
  width: 50px;
  cursor: pointer;
}
.navigation-bar i {
  padding: 30px 25px;
  font-size: 30px;
  cursor: pointer;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.user-details-parent {
  width: 23rem;
  border: 1px solid #d8dfe0;
  height: max-content;
  border-radius: 4px;
}
.user-details {
  display: flex;
  justify-content: center;
}
.user-image img {
  width: 68px;
}

.user-info p {
  font-size: 20px;
}

.bold {
  font-weight: 600;
}

#imageCarousel {
  width: 848px;
  background: #222;
  height: 480px;
  border-radius: 4px;
}
.carousel-image {
  /* width: 65% !important; */
  height: 480px;
  max-width: 100%;
}
.user-btn svg {
  width: 24px;
  margin-right: 5px;
  fill: white;
}

.user-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-btn button {
  width: 90%;
  background-color: #002f34;
  color: white;
  height: 48px;
  border: 0;
  max-height: 100%;
  border-radius: 0.4rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.user-btn button p {
  margin-bottom: 0;
}
.user-location h4 {
  font-weight: bold;
}
.user-location svg {
  margin-right: 5px;
}

.post-title-box {
  width: 848px;
  border: 1px solid #d8dfe0;
  border-radius: 4px;
}
.post-title h4 {
  font-weight: 700;
  font-size: 20px;
}
.post-price {
  display: flex;
  justify-content: space-between;
}
.post-price h1 {
  font-weight: 700;
}
.post-price i {
  font-size: 28px;
  color: rgb(111, 138, 148);
  cursor: pointer;
}
.user-location {
  font-size: 15px;
}
.post-details-box {
  width: 100%;
  border: 1px solid #d8dfe0;
  border-radius: 4px;
}
.post-brand-price {
  flex-basis: 50%;
}
.post-brand {
  display: flex;
  flex-wrap: wrap;
}
.post-brand p {
  flex-basis: 50%;
}
.post-price-section {
  display: flex;
  flex-wrap: wrap;
}
.post-price-section p {
  flex-basis: 50%;
}
.post-description-box {
  width: 100%;
  border: 1px solid #d8dfe0;
  border-radius: 4px;
}
.description-text {
  max-width: 848px;
  height: fit-content;
  margin-bottom: 60px;
}
.description-text p {
  width: 50%;
  font-size: 15px;
}
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #002f34;
  position: relative;
  bottom: 0;
}

.footer p {
  color: white;
  position: relative;
  margin-right: 500px;
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  .header {
    display: block;
    overflow: hidden;
  }
  #imageCarousel {
    width: 100%;
    height: unset;
  }
  .carousel-image {
    height: 40vh;
  }
  .post-title-box {
    width: 100%;
  }
  .footer {
    justify-content: center;
  }
  .footer p {
    margin-right: 0;
  }
  /* .description-text {
    white-space: pre-wrap;
  } */
  .description-text p {
    width: 75%;
  }
  .user-details-parent {
    width: 21rem;
  }
}

@media screen and (max-width: 450px) {
  .post-price h1 {
    font-size: 20px;
  }
  .post-title h4 {
    font-size: 16px;
  }
  .user-location p {
    font-size: 12px;
  }
  h3 {
    font-size: 20px;
  }
  .post-details-box p {
    font-size: 14px;
  }
  .post-description-box p {
    font-size: 14px;
  }
  .user-btn p {
    font-size: 14px;
  }
  .user-info p {
    font-size: 16px;
  }
  .user-image img {
    width: 50px;
  }
  .user-location h4 {
    font-size: 20px;
  }
  .carousel-image {
    height: 30vh;
  }
  .user-details-parent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-55%, 3%);
  }
  #imageCarousel {
    height: 30vh;
  }
  .footer p {
    font-size: 13px;
  }
  svg {
    width: 20px;
    height: 20px;
  }
  .navigation-bar i {
    font-size: 20px;
  }
  .post-price i {
    font-size: 20px;
  }
}
