@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*___________________________________________Navbar________________________________________________ */
.header {
  background-color: #f7f8f9;
  box-shadow: 0 0 2px grey;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in;
  z-index: -200;
}

.login-button {
  margin-left: 60px;
}

.login-button p {
  text-decoration: underline;
  cursor: pointer;
  font-size: 17px;
  color: rgb(0, 0, 0);
}

.header img {
  width: 70px;
}

.location-box {
  width: 250px;
  margin-left: 70px;
}

.select-location i {
  font-size: 15px;
  transition: all 0.3s;
}

.select-location {
  width: 100%;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}

.option {
  display: flex;
  padding: 10px;
  width: 250px;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background-color: #c8f8f6;
}

.option p {
  margin-left: 10px;
  color: #444444;
}

.option .blue {
  color: #3a77ff;
}

option i {
  color: #839a9c;
}

.option-box {
  box-shadow: 0 0 10px grey;
  background-color: white;
  display: none;
  position: absolute;
  top: 43px;
}

.show {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

.search-box {
  display: flex;
  margin-left: 30px;
}

.search-box i {
  background-color: black;
  color: white;
  padding: 14px;
  font-size: 15px;
  border-radius: 0 6px 6px 0;
}

.search {
  padding: 10px;
  width: 570px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 6px 0 0 6px;
  /* outline: none; */
}

.sell_button button {
  margin-left: 70px;
  border-style: solid;
  border-width: 5px;
  border-top-color: #23e5db;
  border-left-color: #ffce32;
  border-right-color: #3a77ff;
  border-bottom-color: #3a77ff;
  font-size: 15px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 30px;
  background-color: white;
  color: black;
  display: flex;
}
.hamb {
  display: none;
  cursor: pointer;
}

/* ____________________________navbar 2___________________________ */

.navbar2-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.navbar2 {
  width: 1299px;
}

.navbar2 ul {
  display: flex;
  list-style: none;
  padding: 23px 0px;
}

.navbar2 ul li {
  font-size: 15px;
  padding: 0 10px;
}

.move-icon {
  padding: 0 10px;
}

.navbar2 ul li:hover {
  color: #00a49f;
  transition: 0.3s;
}

/* ___________________________________________Top image________________________________________________ */

.top_image {
  display: flex;
  justify-content: center;
  z-index: -1;
}

.top_image img {
  margin-top: 5px;
}

/* ___________________________________________Product________________________________________________ */

.First_row {
  display: flex;
  justify-content: space-evenly;
  width: 1300px;
  margin: auto;
  margin-top: 35px;
}

.img-box {
  height: 154px;
  border-bottom: 1px solid rgb(197, 196, 196);
}

.box img {
  max-height: 154px;
  width: 100%;
  object-fit: cover;
}

.box {
  border: 1px solid rgb(197, 196, 196);
  width: 300px;
  cursor: pointer;
  border-radius: 4px;
}

.box:hover {
  border: 1px solid rgb(138, 137, 139);
}

.box h2 {
  padding: 0px 0 0 20px;
}

.box p {
  padding: 15px 0 15px 20px;
  color: #6f8a94;
  font-size: 14px;
}

.addres_data {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.addres_data p {
  font-size: 12px;
  margin-right: 10px;
}

.myAd {
  font-size: 16px !important;
  font-weight: 700;
}

/* _______________________________Download_picture______________________________________  */

.download {
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
}

.images {
  width: 400px;
}

.text {
  border-right: 2px solid #cacdce;
}

.text h1 {
  padding: 20px 20px 10px 20px;
  font-size: 35px;
}

.text p {
  padding: 10px 20px 20px 20px;
  font-size: 20px;
}

.download_store p {
  padding: 20px 20px 20px 0;
  font-weight: bold;
  font-size: 17px;
}

.download_store {
  padding-left: 30px;
}

.download_store img {
  width: 140px;
  padding-left: 20px;
}

/* ______________________________footer_______________________________________  */

.Main_footerP {
  background-color: #ebeeef;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.footer_box h2 {
  font-size: 17px;
  margin: 10px 0 15px 0;
}

.footer_box p {
  margin: 8px 0 8px 0;
}

/* ___________________________footer 2________________________________________________ */

.footer2 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #002f34;
}

.footer2 p {
  color: white;
  position: relative;
  margin-right: 500px;
  font-size: 15px;
}

/* ___________________________no ads found________________________________________________ */

.no-ad-message {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
}
/* ___________________________Search-Div________________________________________________ */

.search-div {
  position: absolute;
  width: 570px;
  margin-left: 30px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24);
  max-height: 400px;
}
.search-div li {
  list-style: none;
  padding: 16px;
  border-bottom: 0.1rem solid #ced6d7;
  font-size: 14px;
  color: #002f34;
  cursor: pointer;
}
.search-div li:hover {
  background-color: #c8f8f6;
}

@media screen and (max-width: 912px) {
  .header {
    display: block;
  }
  .container {
    display: flex;
    background-color: #3a77ff;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -250px;
  }
  .location-box {
    margin: 10px 0;
  }
  .search-box {
    margin: 10px 0;
  }
  .search {
    width: 305px;
  }
  .login-button {
    margin: 10px 0;
  }
  .login-button p {
    color: white;
  }
  .sell_button button {
    margin: 10px 0;
  }
  .option-box {
    top: 65px;
  }
  .hamb {
    width: 40px !important;
    display: block;
  }
  .img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #f7f8f9;
  }
  .active {
    top: 0;
  }
  .product {
    margin-top: 40px;
  }
  .First_row {
    flex-wrap: wrap;
    width: 100%;
  }
  .box {
    margin-top: 30px;
  }
  .footer2 {
    margin-top: 30px;
    display: block;
    padding-top: 27px;
    text-align: center;
    height: 70px;
  }
  .footer2 p {
    margin-right: 0px;
  }
  .navbar2-parent {
    display: none;
  }
  .top_image img {
    width: 100%;
    margin-top: 125px;
  }
  .download {
    display: block;
  }
  .images {
    width: 100%;
  }
  .Main_footer {
    display: none;
  }
  .no-ad-message h1 {
    font-size: 25px;
  }
  .search-div {
    margin-left: 0px;
    width: 305px;
  }
}
